<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Rarity:</strong>
    <%= item.rarity %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= item.desc %>
  </p>

  <p>
    <strong>Imageurl:</strong>
    <%= item.imageurl %>
  </p>

  <p>
    <strong>Dlc:</strong>
    <%= item.dlc %>
  </p>

</div>
